<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/busquedas.css">
    <%-include ('./partials/head.ejs') %>
    <title>Resultados de búsqueda</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="main debajo-header">
        <p class="titulo">Resultados de la búsqueda</p>
        <div class="resultados">
            <% for (let i = 0 ; i < busquedas.length ; i++) { %>
                <article class="card-search">
                    <div class="img-container">
                        <img class="img" src="/images/products/<%=busquedas[i].images[i].name%>" alt="">
                    </div>
                    <div class="info">
                        <h1><%= busquedas[i].name %></h1>
                        <p><%= busquedas[i].province %></p>
                        <p><%= busquedas[i].locality %></p>
                        <p>$ <%= busquedas[i].price %></p>
                    </div>
                    <div class="ver-mas">
                        <a href="/products/detail/<%= busquedas[i].id_lodging%>">Ver más</a>
                    </div>
                </article>
            <% } %>
        </div>
    </main>
</body>
</html>