<!DOCTYPE html>
<html lang="en">

<%-include ('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    
        <main class="mainform">
            <section class="form">
                <h2>¡Edita tu Hospedaje !</h2>

                <form action="/products/edit/<%= locals.old && old.id ? old.id : alojamiento.id %> ?_method=PUT" method="POST" class="formu" >
                    <label for="name">Nombre de su hospedaje:</label>
                    <div class="input">
                        <input type="text" id="name" name="name" placeholder="Ej: cabañas soñadas" value="<%= locals.old && old.name ? old.name : alojamiento.name %>" class="form-input">
                    </div>
                    <% if(locals.errors && locals.errors.name){ %>
                        <div class="text-danger">
                            <p class="error"><%= errors.name.msg %></p>
                        </div>
                    <% } %>
                   
                    <label for="price">Precio por noche:</label>
                    <div class="input">
                    <input type="text" id="price" name="price" placeholder="Ej: 200" value="<%= locals.old && old.price ? old.price :alojamiento.price%>" class="form-input">
                    </div>
                    <% if(locals.errors && locals.errors.price){ %>
                        <div class="text-danger">
                            <p class="error"><%= errors.price.msg %></p>
                        </div>
                    <% } %>

                    <label for="province">Provincia</label>
                    <div class="input">
                        <select name="province">
                            <% const selectedProvince = locals.old && locals.old.prov ? locals.old.prov : alojamiento.prov; %>
                            <% const provinces = [
                                "Buenos Aires", "Catamarca", "Córdoba", "Corrientes", "Entre Ríos",
                                "Formosa", "Jujuy", "La Pampa", "La Rioja", "Mendoza", "Misiones",
                                "Neuquén", "Río Negro", "Salta", "San Juan", "San Luis", "Santa Cruz",
                                "Santa Fe", "Santiago del Estero", "Tierra del Fuego"
                            ]; %>
                            <% for (let i = 0; i < provinces.length; i++) { %>
                                <option value="<%= provinces[i] %>" <% if (provinces[i] === selectedProvince) { %> selected <% } %>>
                                    <%= provinces[i] %>
                                </option>
                            <% } %>
                        </select>
                    </div>

                    <label for="locality">Localidad:</label>
                    <div class="input">
                    <input type="text" id="locality" name="locality" placeholder="Ej: San Salvador de Jujuy" value="<%=locals.old && old.locality ? old.locality :alojamiento.locality%>" class="form-input">
                    </div>
                    <% if(locals.errors && locals.errors.locality){ %>
                        <div class="text-danger">
                            <p class="error"><%= errors.locality.msg %></p>
                        </div>
                    <% } %>


                    <label for="street">Calle:</label>
                    <div class="input">
                    <input type="text" id="street" name="street" placeholder="Ej: Av. Siempre viva 645" class="form-input">
                    </div>

                    <label for="persons">Cantidad maxima de personas:</label>
                    <div class="input">
                    <input type="text" id="persons" name="persons" placeholder="Ej: 1" value="<%=locals.old && old.persons ? old.persons :alojamiento.persons%>" class="form-input">
                    </div>
                    <% if(locals.errors && locals.errors.persons){ %>
                        <div class="text-danger">
                            <p class="error"><%= errors.persons.msg %></p>
                        </div>
                    <% } %>
                
                    <label for="description">Descipción:</label>
                    <div class="input">
                        <textarea name="description" id="description" class="form-input"><%=locals.old && old.description ? old.description :alojamiento.description%></textarea>

                    </div>
                    <% if(locals.errors && locals.errors.description){ %>
                        <div class="text-danger">
                            <p class="error"><%= errors.description.msg %></p>
                        </div>
                    <% } %>
                    
                    <label for="anfitrion">Nombre de la persona a cargo:</label>
                    <div class="input">
                    <input type="text" id="anfitrion" name="anfitrion" placeholder="Ej: Veronica Solis" value="<%=locals.old && old.anfitrion ? old.anfitrion :alojamiento.anfitrion%>" class="form-input">
                    </div>
                    <% if(locals.errors && locals.errors.anfitrion){ %>
                        <div class="text-danger">
                            <p class="error"><%= errors.anfitrion.msg %></p>
                        </div>
                    <% } %>
                    
                    <label for="include">Que incluye:</label>
                    <div class="check">
                        <div>
                            <input type="checkbox" name="include" value="Cocina"> <span>Cocina</span>
                        </div>
                        <div>
                            <input type="checkbox" name="include" value="Wi-fi"> <span>Wi-fi</span>
                        </div>
                        <div>
                            <input type="checkbox" name="include" value="Agua caliente"> <span>Agua caliente</span>
                        </div>
                        <div>
                            <input type="checkbox" name="include" value="Baño"> <span>Baño individual</span>
                        </div>
                        <div>
                            <input type="checkbox" name="include" value="Televisor"> <span>Televisor</span>
                        </div>
                        <div>
                            <input type="checkbox" name="include" value="Estacionamiento"> <span>Estacionmiento</span>
                        </div>
                        <div>
                            <input type="checkbox" name="include" value="Pileta"> <span>Pileta</span>
                        </div>
                    
                    </div>
                    

                    <label for="image">Agregar imagen</label>
                    <div class="input">
                    <input type="file" name="image" id="image" accept=".jpg, .png, .jpeg">
                    </div>
                   

                    <div>
                    <button type="submit" class="buy-now-button">Guardar Cambios</button>
                    </div>


                </form>
            </section>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        </main>
        <%- include('./partials/footer.ejs')%>
</body>

</html>