<!DOCTYPE html>
<html lang="es">
  <link rel="stylesheet" href="/css/busquedas.css">
  <link rel="stylesheet" href="/css/home2.css">
  <link rel="stylesheet" href="/css/stylesheet-home.css">
<%-include ('./partials/head.ejs') %>

<body>
   <%- include('./partials/header.ejs') %>

   <main class="main-home debajo-header-home1">
    <section class="primero">
      <div class="logo-home">
        <img class="logo-principal" src="/img/TuristAr-logo2.png" alt="">
      </div>
      <div class="barra-busqueda-home">
        <form class="boton-de-inputs-home" action="/products/search" method="get">
                <input class="campo-home" type="text" name="destino" placeholder="Destino">
                <button type="submit" class="search-home">
                    <i class="fa-solid fa-magnifying-glass lupa-home"></i>
                </button>
        </form>
      </div>
    </section>
    <section class="carrusel-home">
      
    </section>
    <!-- <script src="/js/carruselHome.js"></script> -->
    <section class="products-home resultados">
      <% for (let i = 0 ; i < 8 ; i++) { %>

        <article class="card-search">
            <div class="carousel">
                <div class="carousel-container">
                    <% for (let j = 0; j < products[i].images.length; j++) { %>
                        <a href="/products/detail/<%= products[i].id_lodging %>">
                            <img class="img" src="/images/products/<%= products[i].images[j].name %>" alt="Imagen <%= j + 1 %>">
                        </a>
                    <% } %>
                </div>
                <button class="prev-btn">&lt;</button>
                <button class="next-btn">&gt;</button>
            </div>
            <div class="info">
                <!-- Información de la tarjeta -->
                <h2 class="productName"><%= products[i].name %></h2>
                <p class="productLocality"><%= products[i].locality %>,</p>
                <p class="productProvince"><%= products[i].province %></p>
                <p class="productPrice">$ <%= products[i].price %></p>
                <a class="ver-mas" href="/products/detail/<%= products[i].id_lodging %>">Ver más</a>
            </div>
        </article>
    <% } %>
    </section>
   </main>
    <%- include('./partials/footer.ejs')%>
    
</body>

</html>
